<div class="container">
  <nav class="navbar navbar-default">
  <ul class="na navbar-nav">
    <li><a routerLink="/home" routerLinkActie="acive">Home</a></li>
    <li><a routerLink="/aboutus" routerLinkActie="acive">About Us</a></li>
    <li><a routerLink="/contactus" routerLinkActie="acive">Contact Us</a></li>
    <li><a routerLink="/home" routerLinkActie="acive">Services</a></li>
    <li><a routerLink="/employee" routerLinkActie="acive">Employees</a></li>
    <li><a routerLink="/login" routerLinkActie="acive">Sign In</a></li>
    <li><a routerLink="/register" routerLinkActie="acive">Sign Up</a></li>
  </ul>
</nav>

  <div>
    <router-outlet></router-outlet>
  </div>
  
</div>
